name: 构建 豆包语音服务 镜像

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache: true
          cache-dependency-path: go.sum
          go-version: 1.25.0
      
      - name: Build Binary
        run: |
          go build -ldflags="-w -s" -o doubao-speech-service-linux_amd64 .
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: doubao-speech-service-linux_amd64
          path: doubao-speech-service-linux_amd64
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/cuhksz-itso-dev/doubao-speech-service
          tags: |
            type=ref,event=tag
          labels: |
            org.opencontainers.image.description=Doubao Speech Service ({{sha}}).
            org.opencontainers.image.created={{commit_date 'YYYY-MM-DDTHH:mm:ss.SSS[Z]'}}
            org.opencontainers.image.revision={{ sha }}
            org.opencontainers.image.version=${{ github.ref_name }}
            org.opencontainers.image.title=Doubao Speech Service

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
